.subhead
  %h1 Active Patients

.col-xs-12
  %table.table.table-hover.table-responsive
    %thead
      %tr
        %th= sortable 'last_name', 'Name'
        %th= sortable 'last_contact'
        %th= sortable 'program_progress', 'Program Progress'
        %th= sortable 'task_completion', "Today's Progress"
        %th= sortable "compliant?", "Compliance"
        %th= sortable 'message_count', 'Messages'
        %th= sortable 'alert_count', 'Alerts'

    %tbody
      - @patients.each do |patient|
        %tr
          %td= link_to patient.name_last_comma_first, patient
          %td= "#{time_ago_in_words patient.last_contact} ago"
          %td= patient.print_progress
          %td= patient.print_today_completion
          %td.compliance-td
            = patient.print_compliance.upcase
            = render partial: 'compliance_list', locals: {patient: patient}
          %td= print_blank_if_zero patient.message_count
          %td= print_blank_if_zero patient.alert_count
